# RAG - System
fastapi==0.116.0
langchain==0.3.26
transformers==4.53.1
langchain-community==0.3.27
torch==2.7.1
hf-xet==1.1.5
langchain-huggingface==0.3.0
sentence-transformers==5.0.0
pypdf==5.7.0
faiss-cpu==1.11.0

# Stock Chart Trend

